ENVIRONMENT=development

# db
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=vroomly-db
DB_PORT=5432
DB_NAME=postgres

EXPOSE_DB_PORT=5477

# Конфиг для подключения БД при локальном запуске бекенда
# DB_HOST=localhost
# DB_PORT=порт который указан в EXPOSE_DB_PORT

# backend
BACKEND_PORT=8077

# compose
COMPOSE_PROFILES=vr-backend

# Python
PYTHONUNBUFFERED=1
