.venv
.idea
TODO.md
.env
.cache
.git
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
tasks
*.log

# Generated types (from OpenAPI)
frontend/src/types/schemas.ts
